:root {
  --glass: #c4c4c475;
}
#bg-login {
  display: grid;
  position: absolute;
  inset: 0;
  align-items: center;
  justify-items: center;
}
.login-box {
  max-width: 500px;
  border-radius: 10px;
  background-color: var(--glass);
  backdrop-filter: blur(5px);
}
.login-box > h2{
  margin: 20px 0;
}
.login-box > form {
  display: grid;
  padding: 20px;
}
